[build-system]
requires = ["hatchling>=1.24.0"]
build-backend = "hatchling.build"

[project]
name = "rlmuscle"
version = "0.1.0"
description = "A Volumetric Muscle implementation for Reinforcement Learning environments."
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "newton",
    "pyglet>=2.1.6",        # for OpenGL viewer
    "usd-core>=25.11",
]

[project.optional-dependencies]
viewer = [
    "imgui_bundle>=1.92.0", # for viewer UI (imgui)
    "PyOpenGL>=3.1.5",      # for viewer UI (imgui)
]

[tool.hatch.build.targets.wheel]
packages = ["src/RLVometricMuscle"]

[tool.uv.workspace]
members = [
    "external/newton",
]

[tool.uv.sources]
newton = { workspace = true, editable = true }
